.button {
    background-color: rgba(255, 199, 0, 1);
    border-radius: 60px;
    border: 3px black solid;
    box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 1);
    animation-duration: 0ms;
    padding: 16px 26px;
}