.frame {
    border: 4px solid #7B61FF;
    background: rgba(199, 185, 255, 0.30);
    display: flex;
    padding: 20px 10px 10px 10px;
    margin-left: 10px;
    position: relative;
    top: -15px;
}

.frame>.frame-square {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 4.428px solid #7B61FF;
    background: #FFF
}

.frame>.top {
    top: -10px;
}
.frame>.bottom {
    top: 125px;
}

.frame>.right {
    right: -13px;
}

.frame>.left {
    left: -11px;
}
.frame-img-pointer{
    position: absolute;
    width: 41px;
    bottom: -30px;
    right: 20px;
}