.frame-img {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    /* background: rgba(199, 185, 255, 0.30); */
    display: flex;
    position: relative;
    overflow: hidden;
}

.frame-img>img {
    width: 100%;
    height: 100%;
}

.frame-img-square {
    border: 4px solid black;
    position: absolute;
    background-color: white;
    width: 18px;
    height: 18px;
}

.img-group>.top {
    top: -1%;
}

.img-group>.bottom {
    top: 98%;
}

.img-group>.right {
    left: 98%;
}

.img-group>.left {
    left: -1%;
}
.img-team>.top {
    top: -2%;
}

.img-team>.bottom {
    top: 97%;
}

.img-team>.right {
    left: 97%;
}

.img-team>.left {
    left: -2%;
}